<div class="file-upload-container">
  <span>Upload Student Data</span>
  <div>
    <input type="file" (change)="onFileSelected($event)" accept=".xlsx" />
  </div>
  <div class="btn-container">
    <button
      kendoButton
      themeColor="primary"
      type="button"
      (click)="uploadFile()"
      [disabled]="!selectedFile || isImporting"
    >
      <!-- <kendo-loader *ngIf="isImporting" size="small" themeColor="secondary">
      </kendo-loader> -->
      Upload
    </button>
    <kendo-loader *ngIf="isImporting" size="medium" themeColor="primary">
    </kendo-loader>
  </div>
</div>
